button {
    padding: 5px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #000000;
    color: #000000;
    background-color: #efa0ff;
    cursor: pointer;
    border-radius: 0px;
    transition: background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
    margin: 0px 10px;
}

button:hover {
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
}