#main_table {
    border: 2px solid #3b0161;
    border-collapse: collapse;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.main_headings {
    background-color: #3b0161;
    color: white;
    border-bottom: 2px solid;
}

.main_rows:nth-child(even) {
    background-color: #E2E2E2;
}


.main_names, .main_numbers {
    padding: 5px 10px;
}


